.git
.vs
**/bin
**/obj
**/node_modules
database
**/database
**/keys
data
artifacts
backups
*.db
*.db-*
*.sqlite
*.sqlite-*
*.env
.env
.env.*
**/appsettings.Development.json
*.local.md
secrets
docs
tests
web
